html {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference){
    *{
    scroll-behavior: smooth;
    }
  }

#navbar {
    display: block;
    position: fixed;
    margin: 0 0 0 0;
    padding: 0 0 ; 
    width: 300px;
    height: 100%;
    border-right: solid;
    border-color: black;
    top: 0%;
    left: 0%;
    
}

#navbar li {
    border-top: 1px solid;
    border-color: black;
    list-style: none;
    position: relative;
    width: 100%;
    height: 100%;
    left: 0%;
    
}

.navheader {
    color: #3f49a8;
    height: 10%;
    

}

.nav-link{
    display: block;
    font-size: larger;
    text-decoration: none;
    color: rgb(49, 39, 36);
    padding: 37px 20px;
    text-align: left;
    cursor: pointer;
    

}

#navbar a:hover {
    background-color: #ddd;
    color: black;
  }

section {
    margin-top: 4rem;
    margin-left: 20rem;
}

h1 {
    padding-left: 20px;
}

section header {
    font-weight: 800;
    font-style: normal;
    font-family: Arial 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Helvetica, sans-serif;
    font-size: 28.8px;
}

section header li  {
    font-weight: lighter;
}

pre {
    margin: 30px;
    width: 50%;
    border-radius: 7px;
    border-color: black;
    border-style: dashed;
    background-color: rgb(22, 19, 19);
}

code {
    color: white;

}

section p {
    padding-left: 20px;
}

section li {
    padding-left: 40px;
    padding-top: 15px;
}