html {
    width: 100%;
    height: 100%;
    margin-top: 0;
    left: 0;
}

* {
    box-sizing: border-box;
  
}

header {
    width: 100%;
    height: 5%;
    right: 0;
    left: 0;
    display: flex;
    position: fixed;
    justify-content: space-between;
    
    
}

ul {
    top: 15%;
    position: relative;
    right: 50px;
}

li {
    display: inline-block;
    position: relative;
    bottom: 20%;
    padding-right: 4rem; 
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    width: 200px;
    text-align: center;

}
.nav-border {
    position: flex;
    padding: 10px;
    border-radius: 5px;
    border-style: groove;
    border-color: black;
}

.nav-border:hover {
    cursor: pointer;
    background-color: orange;
}

.nav-link {
    text-decoration: none;
    text-align: right;
    color: black;
    justify-content: space-between;
    padding:inherit;

}

#headimg {
    position: relative;
    height: 100px;
    top: -90px;
    left: 100px;
    z-index: 2;
   }

#nav-bar {
    text-align: right;
    position: fixed;
    width: 100%;
    height: 10%;
    background-color: white;
    top: 0px;
    
}

body {
    position: relative;
    top: 51px;
    width: 1920px;
    height: 1080px;
    background-color: teal;
    margin: 0;
}

#welcome-section {
    display: contents;
    width: 100%;
    background-color: pink;
    top: 6.0rem;
    left: 0;
}


#container {
    width: auto;
    height: auto;
    display: flex;
}

#video {
    position: relative;
    z-index: -2;
    top: -200px;
}

h1 {
    position: relative;
    text-align: center;
    top: 450px;
    color: white;
    font-style: normal;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    z-index: -1;
}

.works {
    position: relative;
    width: 100%;
    height: 50%;
    background-color: aqua;
    top: -275px;
    z-index: -1;
}

#triangle {
    display: relative;
    width: 500px; 
    height: 500px; 
    border-left: 952px solid transparent;
    border-right: 952px solid transparent;
    border-top: 952px solid white;
}

h2 {
    position: absolute;
    bottom: 400px;
    text-align: center;
    
    
}